@use 'light-colors' as *;

$bg-color: $light-bg;
$card-bg: $light-card;
$text-main: $light-text-main;
$text-muted: $light-text-muted;
$primary: $light-red;
$success: $light-success;
$warning: $light-warning;
$danger: $light-danger;
$border: $light-border;
$scrollbar-track: $light-scrollbar-track;
$scrollbar-thumb-solid: $light-scrollbar-thumb-solid;
$scrollbar-thumb: $light-scrollbar-thumb;
$scrollbar-thumb-hover: $light-scrollbar-thumb-hover;
$scrollbar-thumb-border: $light-scrollbar-thumb-border;
$dashboard-scrollbar-track: $light-dashboard-scrollbar-track;
$dashboard-scrollbar-thumb-solid: $light-dashboard-scrollbar-thumb-solid;
$dashboard-scrollbar-thumb: $light-dashboard-scrollbar-thumb;
$dashboard-scrollbar-thumb-hover: $light-dashboard-scrollbar-thumb-hover;
$dashboard-scrollbar-thumb-border: $light-dashboard-scrollbar-thumb-border;


